# Host Groups Configuration

define hostgroup {
    hostgroup_name  linux-servers
    alias           Linux Servers
    members         prdx-dns101,prdx-db101,prdx-webserver101,prdx-webserver102,prdx-webserver103,prdx-haproxy101,prdx-nagios101,prdx-ansible101,prdx-dprimary101,prdx-kube101
}

define hostgroup {
    hostgroup_name  web-servers
    alias           Web Servers
    members         prdx-webserver101,prdx-webserver102,prdx-webserver103
}

define hostgroup {
    hostgroup_name  database-servers
    alias           Database Servers
    members         prdx-db101
}

define hostgroup {
    hostgroup_name  loadbalancer-servers
    alias           Load Balancer Servers
    members         prdx-haproxy101
}
