# Services Configuration

# PING Service
define service {
    use                     generic-service
    host_name               prdx-dns101,prdx-db101,prdx-webserver101,prdx-webserver102,prdx-webserver103,prdx-haproxy101,prdx-nagios101,prdx-ansible101,prdx-dprimary101,prdx-kube101
    service_description     PING
    check_command          check_ping!100.0,20%!500.0,60%
}

# CPU Load
define service {
    use                     generic-service
    host_name               prdx-dns101,prdx-db101,prdx-webserver101,prdx-webserver102,prdx-webserver103,prdx-haproxy101,prdx-nagios101,prdx-ansible101,prdx-dprimary101,prdx-kube101
    service_description     CPU Load
    check_command          check_load
}

# Current Users
define service {
    use                     generic-service
    host_name               prdx-dns101,prdx-db101,prdx-webserver101,prdx-webserver102,prdx-webserver103,prdx-haproxy101,prdx-nagios101,prdx-ansible101,prdx-dprimary101,prdx-kube101
    service_description     Current Users
    check_command          check_users
}

# Disk Space
define service {
    use                     generic-service
    host_name               prdx-dns101,prdx-db101,prdx-webserver101,prdx-webserver102,prdx-webserver103,prdx-haproxy101,prdx-nagios101,prdx-ansible101,prdx-dprimary101,prdx-kube101
    service_description     Disk Space
    check_command          check_disk
}

# Memory Usage - using check_nrpe
define service {
    use                     generic-service
    host_name               prdx-dns101,prdx-db101,prdx-webserver101,prdx-webserver102,prdx-webserver103,prdx-haproxy101,prdx-nagios101,prdx-ansible101,prdx-dprimary101,prdx-kube101
    service_description     Memory Usage
    check_command          check_nrpe!check_memory
}

# HTTP Service - Web Servers
define service {
    use                     generic-service
    host_name               prdx-webserver101,prdx-webserver102,prdx-webserver103
    service_description     HTTP
    check_command          check_http
}

# HTTP Service - Load Balancer
define service {
    use                     generic-service
    host_name               prdx-haproxy101
    service_description     HTTP
    check_command          check_http
}

# HAProxy Service
define service {
    use                     generic-service
    host_name               prdx-haproxy101
    service_description     HAProxy Status
    check_command          check_haproxy
}

# DNS Service
define service {
    use                     generic-service
    host_name               prdx-dns101
    service_description     DNS Service
    check_command          check_dns
}

# MySQL/MariaDB Service
define service {
    use                     generic-service
    host_name               prdx-db101
    service_description     MySQL Service
    check_command          check_tcp!3306
}

# Apache Service
define service {
    use                     generic-service
    host_name               prdx-webserver101,prdx-webserver102,prdx-webserver103
    service_description     Apache Service
    check_command          check_tcp!80
}
