version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: devops-web
    ports:
      - "8080:80"
    restart: always
    environment:
      - DB_HOST=192.168.100.20
      - DB_NAME=devops_lab
      - DB_USER=devops_user
      - DB_PASSWORD=password
    networks:
      - devops-network

  mysql:
    image: mariadb:latest
    container_name: devops-db
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=devops_lab
      - MYSQL_USER=devops_user
      - MYSQL_PASSWORD=password
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - devops-network

networks:
  devops-network:
    driver: bridge

volumes:
  mysql-data:
